.header {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #f3edf7;
    padding: 17px 19px;
    position: relative;
    height: 70px;
    overflow: hidden;
}

.header__content, .header__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 17px;
    bottom: 17px;
    right: 19px;
    left: 19px;
    transition: 0.5s;
}

.header__content.hide {
    position: absolute;
    transform: translateY(-200%);
}

.header__form.hide {
    position: absolute;
    transform: translateY(200%);
}

.header__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-align: center;
}

.header__lang {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.header__input {
    line-height: 125%;
    cursor: text;

    &::placeholder {
        color: #9d9d9d;
    }
}